.profilePic {
    text-align: center;
}

.profilePic img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.displayCompany,
.displayContact,
.displayWorkHistory,
.displayEducationHistory,
.displaySkills {
    margin-bottom: 20px;
}

.job {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
